@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .main-bg-color {
    background: linear-gradient(180deg, #ffee35 0%, #fffabf 100%);
  }
  /* .main-font {
    font-family: 'Neuton', serif;
  } */
}

/* h3,
Button {
  font-family: 'Neuton', serif;
} */

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* font and color */
/* .source {
  font-family: "Source Code Pro", monospace;
  
} */
.inter {
  font-family: 'Inter', sans-serif;
}

.main-color {
  color: #1e1e1e;
}
.base-color {
  color: #5a5a5a;
}
.highlight-color {
  color: #d9d937;
}
.banner-color {
  color: #000000;
}
.description {
  color: #666666;
}
.yellow {
  background-color: #ffff03;
}
.yellow-color {
  color: #ffff03;
}
.neuton {
  font-family: 'Neuton', serif;
}
.dashboard-image {
  height: 0px !important;
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}





@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white !important;
  }

  .cv-print-area {
    width: 210mm !important;
    min-height: 297mm !important;
    margin: 0 auto !important;
    box-shadow: none !important;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 0;
  }
}



/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


/* Hide scrollbar but keep scroll working */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}